body {
    background-color: #f8f9fa;

}

header {
    background-color: #343a40;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: Lucida Sans Unicode;

}

#main-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(22, 12, 111, 0.1);
    border-radius: 8px;
    font-family: Lucida Sans Unicode;

}


.row-centered{
    text-align: center;
}

.col-centered {
    margin-left: 80px;
    float:none;
}

#user-details {
    margin-bottom: 1rem;
    align-items: center;
}

#repositories {
    list-style: none;
    padding: 5px 20px;
}

.repository {
    margin: 1.2rem 2.69rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#pagination {
    text-align: center;
    margin-top: 2rem;
}

button {
    cursor: pointer;
    margin: 0 0.5rem;
}

#currentPage {
    margin: 0 1rem;
    font-weight: bold;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.profile-pic{
    height: 200px;
    border-radius: 50%;
    outline: 3px solid #fff;
    
}

#div-1{
        font-weight: bold;
        position: relative;
        animation: mymove 5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
    
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 80px;}
}
